<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
        <title>Change Password</title>
</head>

<body>
    <div class="container">
        <form method="POST">
            <h2>Change password</h2>
            <input type="text" placeholder="Old Password" name="oldpass">
            <div class="pass-eye">
                <input class="pass isHide" type="password" placeholder="New Password" name="newpass">
                <img id="show-pass" src="/images/open-eye.png" alt="">
            </div>

            <button type="submit">Change Password</button>
        </form>
    </div>
    <%- include('partials/footer') %>