<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
        <title>Register</title>
</head>

<body>
    <div class="container">
        <form class="" action="" method="POST">
            <h2>Register</h2>
            <input type="text" placeholder="Name" name="name">
            <input type="email" placeholder="Email" name="email">
            <p>Initial password will be sent to this email.</p>
            <button type="submit">Register</button>
            <p>Already have an account?<a href="/login">Login Here</a></p>
        </form>
    </div>
    <%- include('partials/footer') %>