@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  min-height: 100%;
}
body {
  background: linear-gradient(to right, #fdccf1, #f8edfb);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

form,
.inner {
  width: 350px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  box-shadow: 2px 2px 17px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

form input,
form button {
  padding: 12px 8px;
  font-size: 15px;
  margin-top: 30px;
  outline: 0;
  border-radius: 4px;
  border: none;
  background-color: #f2f2f2;
}
form p {
  font-size: 12px;
  padding: 8px 0;
  font-weight: 300;
  color: gray;
  text-align: right;
}

form button {
  background-color: transparent;
  border: none;
  color: #333;
  border: 1px solid lightpink;
  cursor: pointer;
  font-weight: 700;
  font-size: 17px;
}
form button:hover {
  transition: background 0.4s ease-in;
  background: lightpink;
  color: white;
}
form a {
  color: lightpink;
  padding: 0 5px;
  text-decoration: none;
}
form a:hover {
  text-decoration: underline;
  transition: text-decoration 0.5s ease-in;
}
.pass {
  width: 100%;
  margin: 0;
}
.inner {
  color: gray;
  width: fit-content;
}
.inner .data {
  margin-bottom: 20px;
}
.inner .data h4 {
  margin: 20px 0;
}
.inner a {
  color: lightcoral;
  font-size: 18px;
}
.pass-eye {
  margin-top: 30px;
  position: relative;
}
.pass-eye img {
  width: 18px;
  position: absolute;
  top: 12px;
  right: 8px;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  form {
    width: 300px;
    padding: 40px 20px;
  }
  form input,
  form button {
    padding: 8px 5px;
    font-size: 14px;
  }
  .pass-eye img {
    width: 15px;
    top: 8px;
    right: 5px;
  }
}
